{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Noise Control Panel' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Noise Control Panel' %}</h1>
{% endblock %}

{% block nav-global %}
{% if user.is_authenticated %}
<div style="padding: 5px">
<a href="{% url "graphics-panel" %}">{% trans "Graphics" %}</a>
</div>
{% endif %}
{% endblock %}