{% extends "admin/base_site.html" %}
{% load admin_static admin_list i18n staticfiles static %}

{% block extrahead %}
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{% static "flot/excanvas.js" %}"></script><![endif]-->
    <script type="text/javascript" src="{% static "flot/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "flot/jquery.flot.js" %}"></script>
    <script language="javascript" type="text/javascript" src="{% static "flot/jquery.flot.time.js" %}"></script>
	<script language="javascript" type="text/javascript" src="{% static "date.js" %}"></script>
    <script type="text/javascript">
        var options = {
			xaxis: {
				timezone: "browser",
                mode: "time"
			},
            yaxis: {
                max: 80,
                min: 30,
                tickSize: 5
            },
            lines: {show: true },

            points: { show: false },

            grid: {
                hoverable: true,
                clickable: false
            }
		};
        var optionsInterval = {
			xaxis: {
				timezone: "browser",
                minTickSize: [1, "hour"],
                mode: "time"
			},

            yaxis: {
                max: 80,
                tickSize: 5
            },

            lines: { show: true },

            points: { show: false },

            grid: {
                hoverable: true,
                clickable: false
            }
		};

            realTime = true;

        $(document).ready(fetchData);

        function onDataReceived(data) {
             if(realTime) {
                 {% for room in rooms %}
                     $.plot($("#chart_{{ room.slug }}"),
                             data["{{ room.slug }}"], options
                     );
                 {% endfor %}
             } else {
                 {% for room in rooms %}
                     $.plot($("#chart_{{ room.slug }}"),
                             data["{{ room.slug }}"], optionsInterval
                     );
                 {% endfor %}
             }
        }

        function fetchData() {
            if(realTime) {
                $.ajax({
                    url: "{% url  "noise-data"%}",
                    type: "GET",
                    dataType: "json",
                    success: onDataReceived
                    });
                setTimeout(fetchData, 1000);
            }
        }

    function getinterval() {
        realTime = false;
        startDate = $("#startdate").val();
        startTime = $("#starttime").val();
        endDate = $("#enddate").val();
        endTime = $("#endtime").val();
        console.log(startDate);
        console.log(startTime);
        startTimestamp = 0;
        endTimestamp = 0;
        $.ajax({
            url: "{% url  "noise-data"%}" + "?startDate=" + startDate + "&startTime=" + startTime + "&endDate=" + endDate + "&endTime=" + endTime,
            type: "GET",
            dataType: "json",
            success: onDataReceived
            });
    }
    function setRealTime() {
        realTime = true;
        fetchData()
    }
    </script>

{% endblock %}

{% block content %}
    <form>
    <div style="padding-right: 20px; float: left"><label>Inicio </label><input id="startdate" type="date" name="startdate" ><input id="starttime" type="time" name="starttime" ></div>
    <div style="padding-right: 20px; float: left"><label>Fin </label><input id="enddate" type="date" name="enddate" style="padding-right: 20px"><input id="endtime" type="time" name="endtime" ></div>
    <input id="getintervalbtn" name="getintervalbtn" type="button" onclick="getinterval();" value="Activar Intervalo">
    <input id="setRealTimebtn" name="setRealTimebtn" type="button" onclick="setRealTime();" value="Activar Tiempo Real">
    </form>
    {% for room in rooms %}
        <h2>{{ room.name }}</h2>
        <div id="chart_{{ room.slug }}" style="width:1200px;height:400px;"></div>
    {% endfor %}

{% endblock %}